spring.application.name=parqueadero
// Reemplaza los siguientes valores con tus credenciales de base de datos
// Para desarrollo local, puedes cambiar la URL a algo como jdbc:mysql://localhost:3306/parqueadero
spring.datasource.url=jdbc:mysql://mysql:3306/parqueadero?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=America/Bogota
spring.datasource.username=tu_usuario_aqui
spring.datasource.password=tu_contraseña_aqui
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.database-platform=org.hibernate.dialect.MySQLDialect
server.port=8080
server.address=0.0.0.0
